<div>
  <h4>{{getFeedUrl()}}</h4>
  <div class="DivWithScroll">
      <div ng-if="rssfeedsObj.length > 0" ng-repeat="feedObj in rssfeedsObj  track by $index">
        <feed feedinfo="feedObj"> </feed>
      </div>

  </div>
</div>
