h4 {
  font-size: 2em;
  margin: 1;
  line-height: 10px;
  text-align: center;
}
.wrap {
  width: 100%;
}

.floatleft {
  float:left;
  width: 20%;
  border : solid;
  height: 800px;
}

.floatright {
  float: right;
  border : solid;
  height: 800px;
  width: 80%;
}
