.DivToScroll {
  background-color: #F5F5F5;
  border: 1px solid #DDDDDD;
  border-radius: 4px 0 4px 0;
  color: #3B3C3E;
  font-size: 12px;
  font-weight: bold;
  left: -1px;
  padding: 10px 7px 5px;
}
.DivWithScroll {
  height:750px;
  overflow:scroll;
  overflow-x:hidden;
}
.smallIcon{
  height:10px;
  width:10px;
}

.xsmallIcon{
  height:5px;
  width:5px;
}

.SelectedUrl{
  background-color :#55ccbb;
}

.UnselectedUrl{
  background-color :#22b515;
}

a:hover {
  background-color: #0099bb;
}
.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 8px;
  margin-bottom: 7px;
  background-color :#77b5e5;
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

}

.menu li:hover {
  background-color: #0099bb;
}

.alignright {
  align:"right";
  width: 20%;
}

.alignleft {
  align:"left";
  float:left;
  width: 80%;
}
