<div class="container">
  <div class="wrap">
    <div class="floatleft">
      <side-bar></side-bar>
    </div>
    <div class="floatright">
      <h4 class="header"></h4>
      <rss-feeder rssfeedsObj="selectedObj"></rss-feeder>
    </div>
   </div>
</div>
