<div>
    <div class="DivToScroll">
      <input ng-model="url" placeholder="input URL" />
      <button ng-Click=addUrlToList(url)><img class="smallIcon" src="assets/images/search.png" alt="Submit"></button>
    </div>
    <div class="DivWithScroll menu">
      <div ng-if="urlList" ng-repeat="urlObj in urlList  track by $index">
        <a>
        <div ng-class="VerifySelectedUrl(urlList.length - 1 - $index) ? ' SelectedUrl ' : ' UnselectedUrl'">
          <div class="alignleft" ng-Click="selectUrl(urlList.length - 1 - $index)" title="{{urlList[urlList.length - 1 - $index].url}}">URL{{urlList.length - 1 - $index}}</div>
          <img class="alignright smallIcon" ng-Click="removeUrl(urlList.length - 1 - $index)" src="assets/images/close.png" alt="Submit">
        </div>
        </a>
      </div>
    </div>
</div>

